
.sidebar {
    & .sidebar-menu {
        & .topBodyPart {
            & .givway{
                width: 100%;
                height: auto;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
            & .ii{
                height: auto;
                & img{
                    width: 100%;
                    height: 100%;
                }
                & .txt{
                    font-family: 'Montserrat';
                    font-size: 11px;
                    color: white;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 5px;
                    & span{
                        color: #FF7518;
                        display: block;
                        // margin-bottom: 5px;
                    &.yellow{
                        color: #FFD700;
                    }
                    &.green{
                        color: #00990A;
                    }
                    }
                }
            }
        }
    }
}