.signUpBtn {
    color: #FFF;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: url(../img/blueBtnBg.png);
    background-position: center;
    background-repeat: no-repeat;
    // background-size: cover;
    box-shadow: none;
    padding: 10px 30px;
    height: 44.899px;
    flex-shrink: 0;
    border: none;
    box-shadow: none;
}