.bonusCard{
    border-radius: 24px;
    background: linear-gradient(90deg, rgba(0, 153, 10, 0.30) 0%, rgba(85, 120, 254, 0.30) 100%);
    filter: blur(0.5px);
    border: 1px solid rgba(0, 153, 10, 1);
& .cardContent{
  margin: 39px 0px 39px 64px;
  & .heading{
      color: #FFF;
      font-size: 25px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      width: 93%;
      
      & span{
          color: #FFD700;
      }
  }
  & .subheading{
      color: #FFF;
      font-size: 23px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    
      width: 93%;
  }
}

& .cardBtn{
    background-image: url(../img/btnbg.svg);
    background-color: rgba(0, 153, 10, 1);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 47px;
    width: 145px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 39px 0px 39px 64px;
    color: #FFF;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
& .logos{
    margin:39px 0 39px 0;
    max-height:45px;
    & .img{
        height: 100%;
    }
   
}
}

.tableCard{
    border-radius: 18px;
    background: #161F2C;
    filter: blur(0.5px);
    border: 1px solid rgba(85, 120, 254, 1), rgba(255, 255, 255, 1);

    & nav{
        margin: 35px 63px 10px 40px;
        & .nav-tabs{
            background-color: #222D3E;
            border-radius: 19.955px;
            height: 39.91px;
            
            & .nav-item{
                & .nav-link{
                    color: #FFF;
                    font-size: 18px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding: 8px 30px;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    overflow: auto;
                    &.active{
                        border-radius: 19.955px;
                        background: #6324D7;
                    }
                }  
            }
        }
    }
    & .tab-content{
        margin: 35px 63px 10px 40px;
        & .tab-pane {
            & .table{
                & thead{
                    & tr{
                        & th{
                            color: #93ACD3;
                            font-size: 13px;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            border: none;
                            padding:20px 0px;
                        }
                    }
                }
                & tbody{
                    & tr{
                        & td{
                            color: #93ACD3;
                            font-size: 12px;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            border: none;
                            padding: 27px 0px;
                            border-bottom: 1px solid #00990A;
                            display: flex;
                            align-items: center;
                            
                            &:nth-of-type(3){
                            & span{
                                position: relative;
                                color: rgba(255, 255, 255, 1);
                                & img{
                                    width: 27px;
                                    height: 27px;
                                    position: relative;
                                }
                                &::before{
                                    position: absolute;
                                    content: '1';
                                    width: 14.585px;
                                    height: 14.585px;
                                    background: #748290;
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    left: 18px;
                                    font-size: 10px;
                                    bottom: -1px;
                                    z-index: 1;
                                    color: rgba(255, 255, 255, 1);
                                }
                            }
                            }
                            &:nth-of-type(4){
                                & span{
                                    color: rgba(255, 255, 255, 1);
                                    & img{
                                        width: 27px;
                                        height: 27px;
                                    }
                                }
                            }
                        
                        }
                    }
                }
            }
        }
    }
}